.input-section {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.input-form {
	margin: 10px;
	background-color: rgba(91, 39, 133, 0.4);
	padding: 20px;
	border-radius: 10px;
	color: white;
}

.space-div {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	label {
		font-size: 20px;
		margin-bottom: 10px;
	}
}

.programm-section {
	margin-bottom: 20px;
	div {
		margin: auto;
		width: 100%;
	}
}

.list-size {
	max-height: 1000px;
}

.answer-form {
	display: grid;
    grid-template-rows: auto auto 1fr;
	font-size: 20px;
}

.textarea-size {
	height: 500px;
	resize: none;
}

.list-con {
	background-color: #2e104d;
	padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	color: white;
	font-size: 20px;
	.lab {
		margin-bottom: 25px;
	}
}

.programms-div {
    margin: 20px auto;
	width: 100%;
}

.program {
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #005466;
}

.program:last-child {
    border-bottom: none;
}

.programm-buttons {
	display: flex;
	flex-direction: column;
    gap: 10px;
	flex: 1;
}

.program-name {
    color: #ffffff;
    font-size: 18px;
	flex: 2;
	margin-bottom: 15px;
	margin-top: 15px;
}

.btn {
    background-color: #4a02b6;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
	height: 100%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #7921fd;
}

.btn.delete {
    background-color: #c0392b;
}

.btn.delete:hover {
    background-color: #e74c3c;
}

.btn.save {
    background-color: #27ae60;
}

.btn.save:hover {
    background-color: #2ecc71;
}

@media (min-width: 768px) {
    .nav-list {
		margin-top: 10px;
		display: flex;
        flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 30px;
    }

    .banner {
        .slogan {
            max-width: 350px;
        }
    }

    .navbar {
	    border-bottom: solid #2e3060 2px;
    }

    .nav-list.active {
	    border-bottom: none;
    }

    .burger {
        display: none;
    }

    footer {
        .social-links {
            flex-direction: row;
        }
    }

	.program {
		flex-direction: row;
	}

	.programm-buttons {
		flex-direction: row;
	}

	.program-name {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.input-form {
		max-width: 500px;
		width: 500px;
	}

	.input-section {
		flex-direction: row;
	}
}